@import 'src/constants/screen';
@import 'src/constants/color';

// sass-lint:disable nesting-depth, no-ids
.signup {
  .signup-body {
    padding: 3.5rem 3rem 0;

    .middle-col {
      @include for-tablet-portrait-up {
        padding: 5rem 6rem 0;
      }

      padding: 3.5rem 15rem;

      .ant-form-item-label {
        line-height: 1rem;
        padding: 0;
      }

      .ant-form-item {
        margin-bottom: 1rem;
      }

      .submit-button {
        text-align: right;

        .back-button {
          @include for-tablet-portrait-up {
            width: 20%;
          }
          background-color: $greywhite;
          color: $black;
          width: 100%;
        }

        .next-button {
          @include for-tablet-portrait-up {
            margin-left: 1rem;
            width: 20%;
          }
          background-color: $base-kahel;
          width: 100%;
        }
      }

    }
  }
}
