@import 'src/constants/screen';
@import 'src/constants/color';
@import 'src/constants/header';


.signup {
  .signup-body {
    overflow: hidden;
    padding: 4rem 3rem;
    top: 10rem;

    .middle-col {

      @include for-tablet-portrait-up {
        padding: 10rem 6rem;
      }

      @include for-small-desktop-up {
        padding: 10rem 2rem;
      }

      padding: 5rem 15rem;
      margin: 0;

      .logo-container {

        text-align: center;

      }

      .form-bar {

      }

      .ant-form-item-label {
        line-height: 1rem;

      }

      .next-button {

        width: 100%;

      }

    }
  }
}