@import 'src/constants/screen';
@import 'src/constants/color';

// sass-lint:disable nesting-depth, no-ids, class-name-format, no-important
.profile {
  .profile-body {
    @include for-tablet-portrait-up {
      padding: 6rem 2.5rem 0;
    }
    @include for-small-desktop-up {
      padding: 6rem 5rem 0;
    }

    padding: 4.5rem 1rem 0;

    .page-title {
      font-size: 1.1rem;
      font-weight: bold;
      padding-bottom: .5rem;
    }

    .first-row {
      @include for-tablet-portrait-up {
        flex-direction: row;
      }

      display: flex;
      flex-direction: column;

      .profile-card {
        background-color: $white;
        border-radius: 5px;
        box-shadow: $card-shadow;
        display: flex;
        flex: 1;
        flex-direction: column;
        font-weight: bold;
        padding: .5rem 1rem 1rem;


        &.short {
          @include for-tablet-portrait-up {
            max-height: 36rem;
          }
        }

        &.long {
          @include for-tablet-portrait-up {
            max-height: 41.5rem;
          }
        }

        &:last-child {
          @include for-tablet-portrait-up {
            margin-left: 1rem;
            margin-top: 0;

            .personal-section {
              padding-bottom: .5rem;
            }
          }

          border-bottom: 1px solid $greywhite;
          margin: 1rem 0;
        }

        .graph {
          background-color: $card-bg;
          border-radius: 5px;
          margin-bottom: 1rem;

          .log-loader {
            text-align: center;
          }

          .projected {
            font-size: .8rem;
            padding: 0 1rem .5rem;
            text-align: center;
          }

          &.percentage {
            height: 15rem;
          }

          .chart-container {
            .frappe-chart {
              &.chart {
                overflow: visible;

                // .chart-legend {
                //   @include for-tablet-portrait-up {
                //     transform: translate(2rem, 260px);
                //   }
                //   transform: translate(3rem, 260px);

                //   g {
                //     .legend-dot {
                //       cx: -5;
                //     }

                //     .legend-dataset-text {
                //       x: -10;
                //     }
                //   }
                // }

                .y-markers {
                  .line-horizontal {
                    &.dashed {
                      stroke: $base-kahel !important;
                    }
                  }
                }
              }
            }
          }
        }

        .personal-section {
          @include for-tablet-portrait-up {
            padding-bottom: 2rem;
          }
          padding-bottom: .5rem;

          .card-title {
            display: flex;
            font-size: 1.05rem;
            margin-bottom: 0 !important;
            padding: .5rem 0;

            .icon {
              flex: 1;
              width: 8rem;

              .icon-left {
                color: $black-line;
                padding-right: 1rem;
              }
            }

            .action-button {
              .create-meal-button {
                background-color: $base-kahel;
                border: 0;
                border-radius: 8px;
                color: $white;
                height: 1.65rem;
                width: 7.5rem;

                &:hover {
                  background-color: $secondary-kahel;
                }
              }
            }
          }

          .card-content {
            align-items: center;
            background-color: $card-bg;
            border-top: 1px solid $greywhite;
            display: flex;
            justify-content: center;
            min-height: 5.5rem;

            .log-loader {
              text-align: center;
            }

            .desc-side {
              flex: 2;
              padding: 0 .5rem;

              .one-desc {
                border-bottom: 1px solid $greywhite;
                display: flex;
                font-size: .8rem;
                padding: .3rem 0;

                .desc-key {
                  flex: 1;
                  font-weight: bold;
                  text-align: left;
                }

                .desc-value {
                  font-weight: normal;
                  text-align: right;
                }

                &:last-child {
                  border: 0;
                }

              }
            }

            .dot-row {
              display: flex;
              justify-content: center;
              overflow: hidden;
              padding: 0 .5rem;
              width: 100%;

              .one-dot {
                font-size: 1rem;
                overflow: hidden;
                padding-right: .03rem;

                .dot-check {
                  color: $base-green;
                }

                .dot-under {
                  color: $base-kahel;
                }

                .dot-over {
                  color: $base-kahel;
                }

                .dot-empty {
                  color: $black-line;
                }
              }

            }
          }
        }
      }

      .success-card {
        color: $base-green;
        font-size: 1rem;
        margin-left: 0 !important;
        padding: .5rem 1rem;

        .card-title {
          margin-bottom: 0;
        }
      }

      .dead-card {
        color: $red;
        font-size: 1rem;
        margin-left: 0 !important;
        padding: 0 1rem;

        .card-title {
          margin-bottom: 0;
        }
      }
    }
  }
}

.ant-modal {
  &.edit-modal {

    .ant-modal-body {
      .subtitle-container {
        .subtitle {
          font-weight: bold;
        }
      }

      .edit-row {
        @include for-tablet-portrait-up {
          flex-direction: row;
          font-size: 1rem;
        }

        display: flex;
        font-weight: bold;
        justify-content: flex-end;

        .button-container {
          padding: 0 .25rem;

          .next-button {
            height: 1.6rem;
          }
        }



        .edit-container {
          display: flex;
          flex-direction: column;
          flex-grow: 0;
          padding: 0 .25rem .5rem;
          text-align: left;
          width: 100%;

          .edit-title {
            font-size: .7rem;
            padding-top: .3rem;
          }

          .edit-input {
            flex: 1;
            width: 100%;
          }
        }

        .ant-select {
          &.ant-select-enabled {
            width: 100%;
          }
        }
      }
    }

  }
}
