@import 'src/constants/screen';
@import 'src/constants/color';

// sass-lint:disable nesting-depth, no-ids, class-name-format, no-important
.profile {
  .profile-body {
    @include for-tablet-portrait-up {
      padding: 7rem 2.5rem 0;
    }
    @include for-small-desktop-up {
      padding: 7rem 5rem 0;
    }

    padding: 6rem 1rem 0;

    .page-title {
      font-size: 1.1rem;
      font-weight: bold;
      padding-bottom: .5rem;
    }

    .first-row {
      @include for-tablet-portrait-up {
        flex-direction: row;
      }

      display: flex;
      flex-direction: column;

      .profile-card {
        background-color: $white;
        border-radius: 5px;
        box-shadow: $card-shadow;
        display: flex;
        flex: 1;
        flex-direction: column;
        font-weight: bold;
        padding: 0 1rem 1rem;

        .card-title {
          align-items: center;
          display: flex;
          font-size: 1.05rem;
          margin-bottom: 0;
          padding: .8rem .5rem;

          .icon {
            align-self: flex-start;
            flex: 2;

            .icon-left {
              color: $black-line;
              padding-right: 1rem;
            }
          }

          .action-button {
            text-align: right;

            .edit-button {
              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .graph {
          background-color: $card-bg;
          border-radius: 5px;
          margin-bottom: 1rem;
        }

        .card-content {
          align-items: center;
          background-color: $card-bg;
          border-top: 1px solid $greywhite;
          display: flex;
          justify-content: center;

          .desc-side {
            flex: 2;
            padding: 0 .5rem;

            .one-desc {
              border-bottom: 1px solid $greywhite;
              display: flex;
              font-size: .8rem;
              padding: .3rem 0;

              .desc-key {
                flex: 1;
                font-weight: bold;
                text-align: left;
              }

              .desc-value {
                font-weight: normal;
                text-align: right;
              }

              &:last-child {
                border: 0;
              }

            }
          }

          .dot-row {
            display: flex;
            justify-content: center;
            overflow: hidden;
            padding: 0 .5rem;
            width: 100%;

            .one-dot {
              font-size: 1rem;
              overflow: hidden;
              padding-right: .03rem;

              .dot-check {
                color: $base-green;
              }

              .dot-under {
                color: $base-kahel;
              }

              .dot-over {
                color: $base-kahel;
              }

              .dot-empty {
                color: $black-line;
              }
            }

          }
        }

        &:last-child {
          @include for-tablet-portrait-up {
            margin-left: 1rem;
            margin-top: 0;
          }

          border-bottom: 1px solid $greywhite;
          margin: 1.3rem 0;
        }
      }
    }
  }
}

.ant-modal {
  &.edit-modal {

    .edit-row {
      @include for-tablet-portrait-up {
        flex-direction: row;
        font-size: 1rem;
      }

      display: flex;
      font-weight: bold;

      .edit-container {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        padding: 0 .25rem .5rem;
        text-align: left;
        width: 100%;

        .edit-title {
          font-size: .7rem;
          padding-top: .3rem;
        }

        .edit-input {
          flex: 1;
          width: 100%;
        }
      }

      .ant-select {
        &.ant-select-enabled {
          width: 100%;
        }
      }
    }
  }
}
