$base-green: #2ecc71;
$base-kahel: #fb6f1d;

$secondary-green: rgba(46, 204, 113, .6);
$secondary-kahel: rgba(251, 111, 29, .6);
$gradient-kahel: rgba(251, 111, 29, .4);

$white: #fff;
$black: #2b2b2b;
$white-pale: #f7f7f7;
$greywhite: #e8e8e8;
$greyish-line: #e8e8e8;
$default-bg: #f2f0ed;

$card-bg: #f8f8f8;
$card-shadow: 0 2px 2px rgba(0, 0, 0, .4);

$warning: #d8000c;

$red: #e53935;
$secondary-red: rgba(229, 57, 53, .6);

$black-line: rgba(0, 0, 0, .65);
