$base-green: #14FC1D;
$base-kahel: rgba(251, 111, 29, 1);

$secondary-kahel: rgba(251, 111, 29, .6);
$gradient-kahel: rgba(251, 111, 29, .4);

$white: #fff;
$black: #2b2b2b;

$white-pale: #f7f7f7;
$greywhite: #e8e8e8;
$greyish: #4a4a4a;
$warm-grey: #9b9b9b;

$greyish-line: #e8e8e8;
