@import 'src/constants/screen';
@import 'src/constants/color';

// sass-lint:disable nesting-depth, no-ids, class-name-format, no-important
.home {
  .home-body {
    @include for-tablet-portrait-up {
      padding: 6rem 5rem 0;
    }
    @include for-small-desktop-up {
      padding: 6rem 13rem 0;
    }

    padding: 5rem 1rem 0;

    .date {
      font-size: 1.1rem;
      font-weight: bold;
      padding-bottom: .5rem;
    }

    .period {
      padding: 0 .7rem;
    }

    .today-progress {
      @include for-tablet-portrait-up {
        padding: .5rem 2rem 1rem;
      }

      background-color: $card-bg;
      border-radius: 5px;
      box-shadow: $card-shadow;
      font-weight: bold;
      overflow: auto;
      padding: .5rem 1rem 1rem;

      .log-loader {
        padding-top: 1rem;
        text-align: center;
      }

      .today-title {
        border-bottom: 1px solid $greywhite;
        font-size: 1.05rem;
        padding: .5rem 0;
        text-align: left;
      }

      .log {
        align-items: center;
        border-bottom: 1px solid $greywhite;
        display: flex;
        font-size: .8rem;
        height: 5rem;
        justify-content: space-between;
        overflow: hidden;
        padding: 1rem 1rem 1rem .5rem;

        &:hover {
          background-color: $default-bg;
        }

        .log-left {
          float: left;
          text-align: left;

          .kcal {
            font-weight: normal;
          }

          .log-tag {
            @include for-tablet-portrait-up {
              margin: 0 .3rem;
            }
            display: inline-block;
            margin-left: .05rem;
            margin-right: 0;
          }
        }

        .log-right {
          display: flex;
          font-size: 1rem;
          text-align: right;

          .icon-container {

            &:last-child {
              padding-left: 1rem;
            }
          }

          .action-icon {
            display: inline-block;
          }
        }
      }

      .macro-progress {
        font-size: .8rem;
        padding: .8rem .5rem 0;

        .ant-progress-outer {
          .ant-progress-inner {
            background-color: $default-bg;
            border-radius: 5px !important;
            box-shadow: $card-shadow;

            .ant-progress-bg {
              background-color: transparent;
              border-radius: 5px !important;
              height: 2.5rem !important;
              transition: 1.3s cubic-bezier(.08, .82, 1, 1) 0s;

              &::before {
                border-radius: 5px !important;
              }
            }
          }
        }
      }

      .percentage {
        color: $warning;
      }
    }

    .space {
      padding: 1rem;
    }
  }

  .add-container {
    @include for-tablet-portrait-up {
      bottom: 5rem;
      font-size: 75px;
      height: 65px;
      right: 6rem;
      width: 65px;
    }
    background-color: $white;
    border-radius: 50%;
    bottom: 1.5rem;
    color: $base-kahel;
    display: flex;
    position: fixed;
    right: 1.5rem;

    .add-img {
      @include for-tablet-portrait-up {
        bottom: 5rem;
        font-size: 65px;
        height: 65px;
        right: 6rem;
        width: 65px;
      }
      font-size: 50px;
      height: 50px;
      width: 50px;
    }
  }
}


.ant-modal {
  &.meal-modal {

    .ant-modal-body {
      .meal-body {
        .meal-search {
          width: 100%;
        }
      }

      .meal-cart {

        .cart-title {
          border-bottom: .03rem solid $black-line;
          font-weight: bold;
          margin-top: 1rem;
        }

        .cart-body {
          font-size: .8rem;

          .cart-row {
            align-items: center;
            border-bottom: 1px solid $greywhite;
            display: flex;
            height: 3.5rem;
            padding: 0 .5rem;

            &:hover {
              background-color: $card-bg;
            }

            .cart-row-left {
              flex: 1;
              font-weight: bold;

              .kcal {
                font-weight: normal;
              }
            }

            .cart-row-right {
              align-items: center;
              display: flex;

              .icon-container {

                font-size: .9rem;

                &:last-child {
                  padding-left: .8rem;
                }
              }
            }
          }
        }

      }
    }

    .ant-modal-footer {
      .meal-footer {
        display: flex;
        justify-content: flex-end;

        .button-container {
          flex: 1;

          .ant-btn-primary {
            background-color: $base-kahel;
            border: 0;
            color: $white;

            &:hover {
              background-color: $secondary-kahel;
            }
          }

          &:last-child {
            flex: 0;
            padding-left: .5rem;
          }
        }
      }
    }
  }
}
