@import 'src/constants/screen';
@import 'src/constants/color';


// sass-lint:disable nesting-depth, no-ids
.home {

  .header {

    .menu-button {
      background: 0;
      border: 0;
      height: 3.5rem;
      left: .5rem;
      padding: 0;
      top: .5rem;

      .menu-icon {
        height: 65px;
        width: 65px;
      }
    }
  }

  .home-body {

    @include for-tablet-portrait-up {
      height: auto;
    }
  }


}