@import 'src/constants/screen';
@import 'src/constants/color';

// sass-lint:disable nesting-depth, no-important
.header {
  align-items: center;
  background: $base-green;
  display: flex;
  height: 4rem;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 30;

  h3 {
    color: $white;
  }

  .one-cont {

    flex: 1;

    &:first-child {
      flex: 0;
    }

    &:last-child {
      flex: 0;
      margin-right: 1rem;
    }

    .burger-menu {
      @include for-tablet-portrait-up {
        margin-left: 2rem;
      }
      color: $white;
      display: inline-block;
      font-size: 2rem;
      margin: 0 1rem;

      &.calendar {
        @include for-tablet-portrait-up {
          display: none;
        }
      }
    }

    .header-title {
      @include for-tablet-portrait-up {
        padding-left: 2rem;
      }
      color: $white;
      flex: 1;
      font-size: 1.7rem;
      font-weight: bold;
    }

    .header-date {
      @include for-tablet-portrait-up {
        color: $white;
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
      }
      display: none;
    }
  }
}

.ant-drawer-body {
  padding: 0 0 1rem;

  .calendar {
    color: $base-kahel;

    .ant-fullcalendar-header {
      padding: .5rem 0;
      text-align: center;

      .ant-select-selection {
        &:hover {
          border-color: $base-kahel;
        }
      }

      .ant-radio-button-wrapper-checked {
        border-color: $base-kahel;
        box-shadow: -1px 0 0 0 $base-kahel;
        color: $base-kahel;
      }

    }

    .ant-fullcalendar-month-panel-cell {
      &.ant-fullcalendar-month-panel-selected-cell {
        .ant-fullcalendar-month {
          .ant-fullcalendar-value {
            background: $base-kahel;
          }
        }
      }
    }

    .ant-fullcalendar-month-panel-current-cell {
      .ant-fullcalendar-value {
        box-shadow: 0 0 0 1px $base-kahel inset;
      }
    }

    .ant-fullcalendar-cell {
      &.ant-fullcalendar-selected-day {
        .ant-fullcalendar-date {
          .ant-fullcalendar-value {
            background: $base-kahel;
          }
        }
      }

      &.ant-fullcalendar-today {
        .ant-fullcalendar-date {
          .ant-fullcalendar-value {
            box-shadow: 0 0 0 1px $base-kahel inset;
          }
        }
      }
    }
  }

  .button-section {
    display: flex;
    justify-content: space-around;
    padding: 0 .5rem;

    .ant-btn {
      padding: 0 .5rem;

      &.select-button {
        border-color: $base-kahel;
        color: $base-kahel;

        &.ant-btn-primary {
          background-color: $base-kahel;
          color: $white;
        }
      }
    }
  }
}

.ant-menu-item {
  &.ant-menu-item-active,
  &.ant-menu-item-selected {
    a {
      color: $base-green;
    }
  }

  &::after {
    border-right: 3px solid $base-green !important;
  }
}

.ant-menu-submenu-title {
  &:hover {
    color: $base-green;
  }
}
