@import 'src/constants/screen';
@import 'src/constants/color';

.header {
  background: $base-green;
  height: 5rem;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 30;

  h3 {
    color: $white;
  }

  .header-title {
    color: $white;
    font-size: 1.7rem;
    font-weight: bold;
    padding-top: 1.3rem;
  }

  .calendar-placement {
    color: $white;
    padding-top: 1.3rem;

    .ant-btn-primary {
      background: none;
      border: 0;
      box-shadow: none;
      font-size: 1.7rem;
      text-shadow: none;
    }
  }

  .menu-button {
    background: 0;
    border: 0;
    height: 3.5rem;
    left: .5rem;
    padding: 0;
    top: .5rem;

    .menu-icon {
      height: 65px;
      width: 65px;
    }
  }

}
