@import 'src/constants/screen';
@import 'src/constants/color';

html {
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $default-bg;
  font-family: Impact, Charcoal, sans-serif;
  font-size: .7rem;
  margin: 0;
  padding: 0;
}


