@import 'src/constants/screen';
@import 'src/constants/color';

// sass-lint:disable class-name-format, no-important, nesting-depth
html {
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $default-bg;
  font-family: Impact, Charcoal, sans-serif;
  font-size: .7rem;
  margin: 0;
  padding: 0;
}

.ant-popover {
  &.ant-popover-placement-topRight {
    .ant-popover-content {
      .ant-popover-inner {
        background-color: $card-bg;

        .ant-popover-title {
          color: $black-line;
          font-size: .9rem;
          font-weight: bold;
        }

        .ant-popover-inner-content {
          display: flex;
          flex-direction: column;
          padding: 0;

          .link {
            color: $black-line;
            flex: 1;
            padding: .3rem 1rem ;
            text-align: center;
            width: 100%;

            &:hover {
              background-color: $secondary-kahel;
              color: $white;
              cursor: pointer;
            }

          }
        }
      }
    }
  }
}

.ant-input {
  &:hover {
    border-color: $base-green !important;
  }

  &:focus {
    border: 0 !important;
    box-shadow: $card-shadow;
  }
}

.ant-radio {
  &.ant-radio-checked {
    .ant-radio-inner {
      border-color: $base-green !important;

      &::after {
        background-color: $base-green;
      }
    }
  }
}

.ant-modal-footer {
  .one-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: .5rem 0;

    .button-container {
      padding: 0 0 0 1rem;

      .next-button {
        background-color: $base-kahel;
        border-color: transparent;
        border-radius: 5px;
        color: $white;
        padding-left: 1rem;
        width: 5rem;

        &:hover {
          background-color: $secondary-kahel;
        }
      }

      .back-button {
        background-color: $default-bg;
        border: 0;
        color: $black-line;
        width: 5rem;
      }
    }
  }
}
